@using GrowBox.Abstractions.Model.EspApi
@using GrowBox.Abstractions.Model
@implements IAsyncDisposable
@inject IJSRuntime Js

<div style="display: flex; position: relative; width: 100%; height: 180px; justify-content: center;">
    <canvas id="@_chartId"></canvas>
</div>

@code {
    private readonly string _chartId = "growbox-chart-" + Guid.NewGuid().ToString("N");
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await Js.InvokeAsync<IJSObjectReference>(
                "import", "./Controls/GrowBoxChart/GrowBoxChart.razor.js");
            await _module.InvokeVoidAsync("createGrowBoxChart", _chartId);
        }
    }

    public async Task UpdateChart(SensorReading[]? data)
    {
        if (_module is null || data is null)
        {
            return;
        }

        await _module.InvokeVoidAsync("updateGrowBoxChart", _chartId, data);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("destroyGrowBoxChart", _chartId);
            await _module.DisposeAsync();
        }
    }
}
