table {
    border-collapse: collapse;
    margin: 1em;
  }
th {
  border-bottom: 1px solid var(--rz-base-500);
  color: var(--rz-info-darker);
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: right;
  text-wrap: nowrap;
}
td {
  color: var(--rz-text-color);
  padding: 0.65em 1em;
  text-wrap: nowrap;
  text-align: right;
}
.today {
  background: var(--rz-info-lighter);
}
.copy {
  cursor: pointer
}
.underDue {
  color: var(--rz-danger);
}
.overDue {
  color: var(--rz-warning);  
}
.onDue {
  color: var(--rz-success);  
}